.texto, .textoIndex, .textoAcerca {
  font-weight: 600;
  font-family: "Indie Flower", cursive;
  font-size: 21px; }

* {
  margin: 0;
  padding: 0; }

.texto {
  padding: 20px;
  text-align: justify;
  margin: 10px; }

.logoPagina {
  width: 100%; }

.logoPincel {
  width: 55%; }

.navbar {
  width: 100%;
  font-family: "Cookie", cursive;
  font-weight: bolder; }

.navbar-brand {
  font-size: 42px; }

.nav-link {
  font-size: 22px;
  justify-content: center; }

nav {
  align-self: center; }
  nav a {
    text-decoration: none;
    color: #1f2721;
    font-family: "Gentium Plus", serif;
    font-weight: bolder;
    font-size: 2.4vw; }
  nav:hover {
    color: #8a9bff;
    transition: all 1s; }

.encabezado {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
  padding: 10px; }
  .encabezado__lista {
    width: fit-content;
    margin: 0 auto;
    position: absolute;
    left: 45vw; }
    .encabezado__lista__item {
      display: inline-block;
      margin: 0.8vw; }

ul {
  padding-left: 0; }

.footer {
  text-align: right;
  list-style: none;
  background-color: #f094ff; }
  .footer__lista {
    width: 100%;
    margin-bottom: 0; }
    .footer__lista__item {
      display: inline-block;
      margin: 25px;
      margin-right: 3rem; }
      .footer__lista__item__icono {
        width: 50px; }
        .footer__lista__item__icono__whatsapp {
          width: 50px;
          position: fixed;
          bottom: 25px;
          right: 5px; }

.imagenIndex {
  margin: 5px 0px 15px 0px;
  width: 100%;
  padding: 0; }

.imagenPsp {
  margin: 30px;
  width: 40vw;
  padding: 25px; }

.sectionIndex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px; }

.textoIndex {
  text-align: justify;
  margin: 20px; }

.video {
  text-align: center; }
  .video iframe {
    margin: 0;
    width: 560px;
    padding: 10px;
    height: 315px; }

.espacioalfa {
  font-family: "Cookie", cursive;
  font-weight: bolder;
  font-size: 31px;
  border-bottom: solid; }

.textoAcerca {
  padding: 20px;
  text-align: justify; }

.sectionAcerca {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.imagenesCintia {
  width: 100%; }

.fotoCintia2 {
  margin: 15px;
  width: 90%;
  padding: 0; }

.clickAqui {
  font-size: 30px; }

.card-text {
  text-align: justify;
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  font-size: 18px; }

.card-title {
  text-align: center;
  margin: 10px;
  font-weight: bolder;
  border-bottom: solid #f094ff; }

.mainValores {
  margin: 10px 0px 30px 0px; }
  .mainValores .row {
    margin: 0%; }
  .mainValores .card {
    height: 100%; }

.card-img-top {
  border-radius: 8px; }

.recursos {
  margin: 20px; }

.carousel-item {
  margin-top: 10px; }
  .carousel-item img {
    height: 100vh;
    opacity: 0.5; }

.carousel-caption {
  color: #1f2721;
  margin: 10px; }
  .carousel-caption p {
    font-family: "Gentium Plus", serif;
    font-weight: 100;
    font-size: 20px; }
  .carousel-caption h5 {
    font-family: "Indie Flower", cursive;
    font-weight: bolder;
    font-size: 36px; }

.recursosMobile {
  margin: 10px 0px 30px 0px; }
  .recursosMobile .row {
    margin: 0%;
    justify-content: center; }
  .recursosMobile .card {
    margin: 10px; }
    .recursosMobile .card-img-top {
      height: 275px; }

.mainFormulario {
  text-align: -webkit-center; }
  .mainFormulario .row {
    background-color: #8a9bff;
    align-content: center;
    margin: 20px;
    font-family: "Gentium Plus", serif;
    font-weight: 500;
    font-size: 20px;
    box-shadow: 0 0 20px 0 #8a9bff;
    place-content: center; }
    .mainFormulario .row .form-control {
      width: 95%; }

.textoContacto {
  text-align: center;
  background-color: #f094ff;
  border: #1f2721;
  width: fit-content;
  margin: 35px;
  font-family: "Indie Flower", cursive;
  font-weight: 500;
  font-size: 28px; }

.btn1 {
  background-color: #f094ff;
  color: #1f2721;
  border: solid 2px #1f2721;
  margin: 10px;
  width: 95%;
  padding: 0; }
  .btn1:hover {
    color: #f094ff;
    background-color: #1f2721; }

.ubicacion {
  margin: 20px;
  text-align: -webkit-center; }
  .ubicacion__mapa {
    width: 60vw;
    height: 33vw; }
  .ubicacion__div {
    text-align: center; }
  .ubicacion__texto {
    font-family: "Indie Flower", cursive;
    font-weight: bolder;
    font-size: 2.3vw;
    text-align: justify; }
  .ubicacion .btn {
    margin: 10px;
    width: fit-content;
    padding: 5px;
    font-family: "Indie Flower", cursive;
    font-weight: bolder;
    font-size: 25px;
    background-color: #8a9bff;
    border-color: #8a9bff; }

.footer__lista__item__icono {
  animation: iconos 3s linear infinite; }

@keyframes iconos {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(10px); }
  50% {
    transform: translateY(0); }
  75% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0); } }

.pincelMov {
  width: 25%;
  position: absolute;
  top: 5%;
  right: 40%;
  animation: pincel 6s linear;
  opacity: 0; }

@keyframes pincel {
  4% {
    opacity: 1; }
  50% {
    transform: translateX(30vw); }
  52% {
    transform: translateX(30vw); }
  95% {
    transform: translateX(0); }
  96% {
    opacity: 1; } }

@media screen and (max-width: 768px) {
  .logoPincel {
    display: none; }
  .encabezado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0; }
    .encabezado__lista {
      position: relative;
      left: 0px;
      background-color: #f094ff; }
    .encabezado a {
      display: flex; }
  nav .encabezado__lista {
    display: none; }
  .pincelMov {
    display: none; }
  .footer__lista__item {
    margin: 2vw; }
  .container-fluid {
    flex-direction: row-reverse; }
  .imagenPsp {
    width: 80%;
    align-items: center;
    margin: 0; }
  .video iframe {
    width: 100%; }
  .fotoCintia2 {
    margin: 5px;
    width: 50%; }
  .textoAcerca {
    margin: 0;
    width: 100%; }
  .sectionIndex {
    flex-direction: column;
    margin: 10px;
    transition: none;
    transform: none; }
  main {
    text-align: -webkit-center; }
  .sectionAcerca {
    flex-direction: column-reverse;
    margin: 10px;
    width: 90%; }
  #carouselExampleControls {
    width: 90%; }
  .navbar-brand {
    font-size: 42px; }
  .mainValores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer__lista__item__icono {
    animation: none; }
    .footer__lista__item__icono__whatsapp {
      position: relative;
      right: 0;
      bottom: 0; }
  .recursos {
    display: none; }
    .recursos .card {
      height: 90%; } }

@media screen and (max-width: 425px) {
  .logoPagina {
    width: 95%; }
  .footer__lista {
    text-align: center; }
  .encabezado a {
    justify-content: center; }
  .fotoCintia2 {
    margin: 5px;
    width: 80%; }
  .col {
    width: 90%; }
  .mainValores .row {
    justify-content: center; }
  .navbar-brand {
    font-size: 7vw; }
  .ubicacion .btn {
    font-size: 16px;
    width: 85%; }
  @keyframes iconos {
    0% {
      transform: none; } }
  .recursosMobile .card {
    height: 90%;
    width: 90%; } }

@media screen and (min-width: 769px) {
  .navbar {
    display: none; }
  .card-img-top:hover {
    transform: scale(1.05); }
  .botonEnvio {
    text-align: end; }
    .botonEnvio .btn1 {
      margin: 10px;
      width: 30%;
      padding: 10px; }
  .mainFormulario .row {
    width: 65%; }
  .recursosMobile {
    display: none; } }
