.espacioalfa {
  @include font ($tipografia-nav, map-get($bold, "bolder"), 31px);
  border-bottom: solid;
}

.textoAcerca {
  @extend %parrafo;
  padding: 20px;
  text-align: justify;
}

.sectionAcerca {
  @include flex (row, center, center);
}
.imagenesCintia {
  width: 100%;
}

.fotoCintia2 {
  @include mwp (15px, 90%, 0);
}
