.footer__lista__item__icono {
  animation: iconos 3s linear infinite;
}
@keyframes iconos {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.pincelMov {
  width: 25%;
  position: absolute;
  top: 5%;
  right: 40%;
  animation: pincel 6s linear;
  opacity: 0;
}
@keyframes pincel {
  4% {
    opacity: 1;
  }
  50% {
    transform: translateX(30vw);
  }
  52% {
    transform: translateX(30vw);
  }
  95% {
    transform: translateX(0);
  }
  96% {
    opacity: 1;
  }
}
