.mainFormulario {
  text-align: -webkit-center;
  .row{
    background-color: $color-secundario;
    align-content: center;
    margin: 20px;
    font-family: $tipografia-h1;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0 0 20px 0 $color-secundario;
    place-content: center;
    .form-control{
      width: 95%;
    }
  }
}

.textoContacto {
  text-align: center;
  background-color: $color-principal;
  border: $color-terciario;
  width: fit-content;
  margin: 35px;
  font-family: $tipografia-text;
  font-weight: 500;
}
.mb-3 {
  margin: 2px;
  align-self: end;
  grid-column-start: 4;
}
.btn1 {
  background-color: $color-principal;
  font-weight:bold;
  color: $color-terciario;
  width: 95%;
  margin: 10px;
  border: solid 2px $color-terciario;
  &:hover {
    color: $color-principal;
    background-color: $color-terciario;
  }
}