.mainFormulario {
  text-align: -webkit-center;
  .row{
    background-color: $color-secundario;
    align-content: center;
    margin: 20px;
    @include font ($tipografia-h, map-get($bold, "500"), 20px);
    box-shadow: 0 0 20px 0 $color-secundario;
    place-content: center;
    .form-control{
      width: 95%;
    }
  }
}

.textoContacto {
  text-align: center;
  background-color: $color-principal;
  border: $color-terciario;
  width: fit-content;
  margin: 35px;
  @include font ($tipografia-text, map-get($bold, "500"), 28px);
}

.btn1 {
  background-color: $color-principal;
  color: $color-terciario;
  border: solid 2px $color-terciario;
  @include mwp (10px, 95%, 0);
  &:hover {
    color: $color-principal;
    background-color: $color-terciario;
  }
}