.clickAqui {
  font-size: 30px;
}
.card-text {
  text-align: justify;
  font-family: $tipografia-text;
  font-weight: map-get($bold,"600");
  font-size: 18px;
}
.card-title {
  text-align: center;
  margin: 10px;
  font-weight: map-get($bold,"bolder");
  border-bottom: solid $color-principal;
}
.mainGaleria {
  margin: 10px 0px 30px 0px ;
  .row{
    margin: 0%;
  }
}
.card-img-top {
  border-radius: 8px;
}
