.imagenIndex{
  width: 100%;
  margin: 5px 0px 15px 0px;
}

.imagenPsp {
  width: 40vw;
  margin: 30px;
  padding: 25px;
}
.sectionIndex {
  align-items: center;
  margin: 10px;
  flex-direction: row;
  display: flex;
}

.textoIndex {
  font-family: $tipografia-text;
  font-weight: 600;
  font-size: 21px;
  text-align: justify;
  margin: 20px;
}
.video {
  text-align: center;
  iframe {
    width: 560px;
    height: 315px;
    padding: 10px;
  }
}
