.imagenIndex{
  @include mwp (5px 0px 15px 0px, 100%, 0)
}

.imagenPsp {
  @include mwp (30px, 40vw, 25px)
}
.sectionIndex {
  @include flex (row, center, center);
  margin: 10px;
}

.textoIndex {
  @extend %parrafo;
  text-align: justify;
  margin: 20px;
}
.video {
  text-align: center;
  iframe {
    @include mwp (0, 560px, 10px);
    height: 315px;
  }
}
