@media screen and (max-width: 768px) {
  .logoPincel {
    display: none;
  }
  .encabezado {
    @include flex (column, center, center);
    margin: 0 auto;
    padding: 0;
    &__lista {
      position: relative;
      left: 0px;
      background-color: $color-principal;
    }
    a {
      display: flex;
    }
  }
  nav .encabezado__lista {
    display: none;
  }
  .pincelMov {
    display: none;
  }
  .footer__lista__item {
    margin: 2vw;
  }
  .container-fluid {
    flex-direction: row-reverse;
  }
  .imagenPsp {
    width: 80%;
    align-items: center;
    margin: 0;
  }
  .tituloPagina {
    display: none;
  }
  .video iframe {
    width: 100%;
  }
  .fotoCintia2 {
    margin: 5px;
    width: 50%;
  }
  .textoQuienes {
    margin: 0;
    width: 100%;
  }
  .sectionIndex {
    flex-direction: column;
    margin: 10px;
    transition: none;
    transform: none;
  }
  main {
    text-align: -webkit-center;
  }
  .sectionQuienes {
    flex-direction: column-reverse;
    margin: 10px;
    width: 90%;
  }
  #carouselExampleControls {
    width: 90%;
  }
  nav a {
    font-size: 4.7vw;
  }
  .mainGaleria {
    @include flex (column, center, center);
  }
  .footer__lista__item__icono {
    animation: none;
    &__whatsapp {
      position: relative;
      right: 0;
      bottom: 0;
    }
  }
}

@media screen and (max-width: 425px) {
  nav a {
    font-size: 4vw;
  }

  .logoPagina {
    width: 95%;
  }
  .footer__lista {
    text-align: center;
  }
  .encabezado a {
    justify-content: center;
  }
  .fotoCintia2 {
    margin: 5px;
    width: 80%;
  }
  .col {
    width: 90%;
  }
  .mainGaleria{
    .row {
    justify-content: center;
    }
  }
  .ubicacion{
    .btn{
      font-size: 16px;
      width: 85%;
    }
  }
  @keyframes iconos {
    0% {
      transform: none;
    }
  }
}
@media screen and (min-width: 769px) {
  .navbar {
    display: none;
  }
  .card-img-top:hover {
    transform: scale(1.05);
  }
  .botonEnvio{
    text-align: end;
    .btn1{
      @include mwp (10px, 30%, 10px);  
    }
  }
  .mainFormulario{
    .row {
    width: 65%;
    }
  }
}
