.espacioalfa {
  font-family: $tipografia-nav;
  font-weight: map-get($bold,"bolder");
  border-bottom: solid;
  font-size: 31px;
}

.textoQuienes {
  @extend %parrafo;
  padding: 20px;
  text-align: justify;
}

.sectionQuienes {
  @include flex (row, center, center);
}
.imagenesCintia {
  width: 100%;
}

.fotoCintia2 {
  margin: 15px;
  width: 90%;
}
