.ubicacion {
  margin: 20px;
  text-align: -webkit-center;
  &__mapa {
    width: 60vw;
    height: 33vw;
  }
  &__div {
    text-align: center;
  }
  .btn {
    @include mwp (10px, fit-content, 5px); 
    @include font ($tipografia-h, map-get($bold, "bolder"), 25px);
    background-color: $color-secundario;
    border-color: $color-secundario;
  }
}

#carouselExampleControls {
  width: 80%;
}
