.clickAqui {
  font-size: 30px;
}
.card-text {
  text-align: justify;
  @include font ($tipografia-text, map-get($bold, "600"), 18px);
}
.card-title {
  text-align: center;
  margin: 10px;
  font-weight: map-get($bold,"bolder");
  border-bottom: solid $color-principal;
}
.mainValores {
  margin: 10px 0px 30px 0px ;
  .row{
    margin: 0%;
  }
  .card{
    height: 100%;
  }
}
.card-img-top {
  border-radius: 8px;
}