@import "./general";
@import "./base/variables";
@import './inicio';
@import './quienes-somos';
@import './galeria';
@import './ubicacion';
@import './contacto';

.texto {
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  font-size: 21px;
  padding: 20px;
  text-align: justify;
  margin: 10px;
}

h1 {
  color: $color-terciario;
  background-color: $color-principal;
  border: solid 5px $color-secundario;
  padding: 15px;
  width: fit-content;
  font-family: "Gentium Plus", serif;
  border-radius: 20px;
  margin: 20px auto;
  text-align: center;
}

.logoPagina {
  width: 100%;
}

.logoPincel {
  width: 55%;
}
.navbar {
  width: 100%;
  font-family: "Cookie", cursive;
  font-weight: bolder;
}
.navbar-brand {
  font-size: 42px;
}
.nav-link {
  font-size: 22px;
  justify-content: center;
}

.encabezado {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5px;
  padding: 10px;
  &__lista {
    width: fit-content;
    margin: 0 auto;
    position: absolute;
    left: 45vw; 
    &__item {
      display: inline-block;
      margin: 0.8vw;
      font-size: 40px;
      font-weight: bolder;
      font-family: "Cookie", cursive;
    }
  }
}

nav {
  align-self: center;
  & a {
    text-decoration: none;
    color: $color-terciario;
    font-size: 3vw;
  }
  &:hover {
    color: $color-secundario;
    transition: all 1s;
  }
}
ul {
  padding-left: 0;
}
.footer {
  text-align: right;
  list-style: none;
  background-color: $color-principal;
  &__lista {
    width: 100%;
    margin-bottom: 0;
    &__item {
      display: inline-block;
      margin: 25px;
      margin-right: 3rem;
      & .whatsapp {
        width: 50px;
        position: fixed;
        bottom: 25px;
        right: 5px;
      }
      &__icono {
        width: 50px;
      }
    }
  }
}

/* Animacion */
.footer__lista__item__icono {
  animation: iconos 3s linear infinite;
}
@keyframes iconos {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.pincelMov {
  width: 25%;
  position: absolute;
  top: 5%;
  right: 40%;
  animation: pincel 6s linear;
  opacity: 0;
}
@keyframes pincel {
  4% {
    opacity: 1;
  }
  50% {
    transform: translateX(30vw);
  }
  52% {
    transform: translateX(30vw);
  }
  95% {
    transform: translateX(0);
  }
  96% {
    opacity: 1;
  }
}
/* media query */

@media screen and (max-width: 768px) {
  .logoPincel {
    display: none;
  }
  nav .encabezado__lista {
    display: none;
  }
  .pincelMov {
    display: none;
  }
  .footer__lista__item {
    margin: 2vw;
  }
  .container-fluid {
    flex-direction: row-reverse;
  }

  .imagenPsp {
    width: 90%;
    align-items: center;
    margin: 0;
  }
  .tituloPagina {
    display: none;
  }
  .encabezado {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }
  .encabezado a {
    display: flex;
  }
  .video iframe {
    width: 100%;
  }
  .fotoCintia2 {
    margin: 5px;
    width: 50%;
  }
  .textoQuienes {
    margin: 0;
    width: 100%;
  }

  .whatsapp {
    position: relative;
    right: 0;
    bottom: 0;
  }
  .sectionIndex {
    flex-direction: column;
    margin: 10px;
    transition: none;
    transform: none;
  }
  .encabezado__lista {
    position: relative;
    left: 0px;
    background-color: $color-principal
  }
  main {
    text-align: -webkit-center;
  }
  .sectionQuienes {
    flex-direction: column-reverse;
    margin: 10px;
    width: 90%;
  }
  #carouselExampleControls {
    width: 90%;
  }
  nav a {
    font-size: 4.7vw;
  }
  .formulario {
    grid-template-columns: 1fr 1fr;
    width: inherit;
  }
  .formulario .nombreyapellido,
  .formulario .email,
  .formulario .tel {
    grid-column: 1 / 4;
  }
  .formulario .envio {
    grid-column: 1 / 3;
  }

  .mainGaleria {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__lista__item__icono {
    animation: none;
  }
}

@media screen and (max-width: 425px) {
  nav a {
    font-size: 4vw;
  }
  h1 {
    padding: 5px;
    width: 80%;
  }
  .logoPagina {
    width: 95%;
  }
  .footer__lista {
    text-align: center;
  }
  .encabezado a {
    justify-content: center;
  }
  .fotoCintia2 {
    margin: 5px;
    width: 80%;
  }
  .col {
    width: 90%;
  }
  .row {
    justify-content: center;
  }

  @keyframes iconos {
    0% {
      transform: none;
    }
  }
}
@media screen and (min-width: 769px) {
  .navbar {
    display: none;
  }
  .card-img-top:hover {
    transform: scale(1.05);
  }
}
