* {
  margin: 0;
  padding: 0;
}

.texto {
  font-family: "Indie Flower", cursive;
  font-size: 21px;
  padding: 20px;
  text-align: justify;
  margin: 10px;
}

h1 {
  color: #1f2721;
  background-color: #f094ff;
  border: solid 5px #8a9bff;
  padding: 15px;
  width: fit-content;
  font-family: "Gentium Plus", serif;
  border-radius: 20px;
  margin: 20px auto;
  text-align: center;
}

.logoPagina {
  width: 100%;
}
/* index */
.encabezado {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5px;
  padding: 10px;
}

.logoPincel {
  width: 55%;
}

.encabezado__lista__item {
  display: inline-block;
  margin: 10px;
  font-size: 40px;
  font-weight: bolder;
  font-family: "Cookie", cursive;
}

.encabezado__lista {
  width: fit-content;
  margin: 0 auto;
  position: absolute;
  left: 45%;
  text-align: right;
}

nav a {
  text-decoration: none;
  color: #1f2721;
  font-size: 3vw;
}
nav {
  align-self: center;
}

nav a:hover {
  color: #8a9bff;
  transition: all 1s;
}

.imagenPsp {
  width: 50%;
  height: 50%;
  margin: 30px;
  padding: 25px;
}
.sectionIndex {
  align-items: center;
  margin: 10px;
  flex-direction: row;
  display: flex;
}

.textoIndex {
  font-family: "Indie Flower", cursive;
  font-size: 21px;
  text-align: justify;
  margin: 20px;
}

/* footer */

ul{
  padding-left: 0;
}
footer {
  text-align: right;
  list-style: none;
  background-color: #f094ff;
}
.footer__lista {
  width: 100%;
}

.footer__lista__item {
  display: inline-block;
  margin: 25px;
  margin-right: 3rem;
}

.footer__lista__item__icono {
  width: 50px;

}

.whatsapp {
  width: 50px;
  position: fixed;
  bottom: 43px;
  right: 5px;
}
/* Animacion */
.footer__lista__item__icono {
  animation: iconos 3s  linear infinite;
}
@keyframes iconos{
  0%{
    transform: translateY(0);}
  25%{
    transform: translateY(10px);
  }
  50%{
    transform: translateY(0);
  }
  75%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0);
  }
}
.pincelMov{
  width: 25%;
  position: absolute;
  top: 5%;
  right: -4em;
  animation: pincel 4s linear infinite;
}
@keyframes pincel{
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(30px);
  }
  100%{
    transform: translateX(0);
  }
}

/* servicios */

.video {
  margin: 15px;
  padding: 10px;
  width: 70%;
}

.clickAqui {
  font-size: 30px;
}

/* ubicacion */

.ubicacion {
  margin: 20px;
}
.ubicacion__mapa {
  width: 60%;
  height: 33vw;
}

/* contacto */

.formulario {
  background-color: #f094ff;
  align-content: center;
  margin: 20px;
  width: 70%;
  border-style: solid;
  border-width: 3px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  box-shadow: 0 0 20px 0 #8a9bff;
  display: grid;
  grid-template-columns: repeat(4, 3fr);
}

.formulario .mensaje,
.formulario .nombreyapellido {
  grid-column: 1 / 4;
}
.formulario .email {
  grid-column: 1 / 3;
}
.formulario .tel {
  grid-column: 3 / 5;
}
.formulario .envio {
  grid-column-start: 4;
}

.textoContacto {
  text-align: center;
  background-color: #f094ff;
  border: #1f2721;
  width: fit-content;
  margin: 35px;
}

form div {
  margin: 5px;
  padding: 20px 30px 10px 20px;
  text-align: center;
}

.envio {
  margin: 2px;
  align-self: end;
}
.botonEnvio {
  background-color: #8a9bff;
  margin: 5px;
  padding: 15px;
  border: solid 6px #1f2721;
  border-radius: 100%;
  font-weight: 700;
}
.botonEnvio:hover {
  color: #f094ff;
  background-color: #1f2721;
  transform: scale(1.2);
  transition: all 2s;
}

.formulario input,
.formulario label,
.formulario textarea {
  width: 100%;
  padding: 0.7em;
}

/* quienes somos< */

.espacioalfa {
  font-family: "Cookie", cursive;
  font-weight: bold;
  border-bottom: solid;
  font-size: 30px;
}

.textoQuienes {
  font-family: "Indie Flower", cursive;
  font-size: 21px;
  padding: 20px;
  text-align: justify;
}

.sectionQuienes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fotoCintia {
  margin: 15px;
  height: 400px;
  width: 400px;
}
.fotoCintia2 {
  margin: 15px;
  height: 400px;
  width: 400px;
}

/* media query */

@media screen and (max-width: 768px) {
  .logoPincel {
    display: none;
  }
  .pincelMov{
    display: none;
  }
  .footer__lista__item {
    margin: 2vw;
  }

  .imagenPsp {
    width: 90%;
    align-items: center;
    margin: 0;
  }

  .encabezado {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }
  .encabezado a {
    display: flex;
  }

  .whatsapp {
    position: relative;
    right: 0;
    bottom: 0;
  }
  .sectionIndex {
    flex-direction: column;
    margin: 20px;
  }
  .encabezado__lista {
    position: relative;
    left: 0px;
    background-color: #f094ff;
  }

  .sectionQuienes {
    flex-direction: column-reverse;
    margin: 15px;
    text-align: center;
  }

  nav a {
    font-size: 4.7vw;
  }
  .formulario {
    grid-template-columns: 1fr 1fr;
    width: inherit;
  }
  .formulario .nombreyapellido,
  .formulario .email,
  .formulario .tel {
    grid-column: 1 / 4;
  }
  .formulario .envio {
    grid-column: 1 / 3;
  }
  .video {
    width: 84%;
  }
  .mainServicios {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 425px) {
  nav a {
    font-size: 4vw;
  }
  h1 {
    padding: 5px;
    width: 80%;
  }
  .logoPagina {
    width: 95%;
  }
  .encabezado a {
    justify-content: center;
  }
  .fotoCintia,
  .fotoCintia2 {
    width: 300px;
    height: 300px;
    margin: 0;
  }
}

/* @keyframes animacion{
  

  }
} */
