$color-principal: #f094ff;
$color-secundario: #8a9bff;
$color-terciario: #1f2721;

$tipografia-text: "Indie Flower", cursive;
$tipografia-nav: "Cookie", cursive;
$tipografia-h: "Gentium Plus", serif;

$bold: (
    "500": 500,
    "bolder": bolder,
    "600": 600,
    "100": 100
);